.bg-night {
    --bs-bg-opacity: 1;
    background-image: none; 
    background: #2c3035 !important;
}

.navbar-night {
    background-image: none; 
    background: #2c3035; 
}

.funfact {
    opacity: 0;
    transition: opacity 1s ease;
}

.emerge {
    opacity: 1;
  }